 
<%#= image_tag('my9.jpg', :class => "background" ) %>
  
<p>sidebar partial here for api data display</p>
<!-- <p><%#= idiot2.inspect %> really</p>  test-->

<p>Programmer joke Q: <%= @randomfact.inspect %></p>
<p>A:<%= @randomfact2.inspect %> &nbsp; <%= icon('fa-regular', 'face-laugh-squint')%></p>

<%#= icon('fa-brands', 'font-awesome')%>
<%#= icon('fa-solid', 'user-secret')%>
<%#= icon('fa-regular', 'bell')%>

<%#= icon('fa-regular', 'face-laugh-squint', class:"fa-beat")%>

