 
<%#= image_tag('my9.jpg', :class => "background" ) %>
  
<p>sidebar partial here for api data display</p>
<p><%= idiot2.inspect %> really</p>

<p>Random Fact: <%= @randomfact.inspect %></p>
<%#=  rsource.inspect %> 
